<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ProjectSuite" time-out="10000" verbose="1">
    <test name="ProjectTests">

        <groups>
            <define name="entity">
                <include name="Budget"/>
                <include name="Expense"/>
                <include name="Income"/>
                <include name="Family"/>
                <include name="User"/>
            </define>

            <define name="form">

            </define>

            <define name="repository">

            </define>

            <define name="service">

            </define>

            <define name="ui">

            </define>
            <run>
                <include name="entity"/>
            </run>
        </groups>
        <packages>
            <package name="com.university.project.entity.*"/>
        </packages>
        <classes>
            <class name="com.university.project.entity.BudgetTest"/>
            <class name="com.university.project.entity.ExpenseTest"/>
            <class name="com.university.project.entity.FamilyTest"/>
            <class name="com.university.project.entity.IncomeTest"/>
            <class name="com.university.project.entity.UserTest"/>
        </classes>
    </test>
</suite>