.credentials-view #vl-labels {
    font-size: 20px;
    margin-top: 35px;

}

label {
    margin-bottom: 27px;
}

#button-change-credentials {
    color: purple;
    margin-bottom: 20px;
    font-weight: bold;
}

.credentials-view {
    margin-top: 50px;
}